# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Node
node_modules/
.next/
out/

# Docker volumes/data
mongo-data/
